services:
  db:
    image: mariadb:11.4-noble
    container_name: SuiteCRM-DB
    hostname: suitecrm-db
    environment:
       ALLOW_EMPTY_PASSWORD: no
       MARIADB_USER: suitecrmuser
       MARIADB_DATABASE: suitecrm
       MARIADB_PASSWORD: suitecrmpass
       MARIADB_ROOT_PASSWORD: rootpass
    volumes:
      - /volume1/docker/suitecrm/db:/var/lib/mysql:rw
    restart: unless-stopped

  suitecrm:
    image: docker.io/bitnamilegacy/suitecrm:8
    container_name: SuiteCRM
    ports:
      - "8200:8080"
    environment:
       ALLOW_EMPTY_PASSWORD: no
       SUITECRM_DATABASE_HOST: db
       SUITECRM_DATABASE_PORT_NUMBER: 3306
       SUITECRM_DATABASE_USER: suitecrmuser
       SUITECRM_DATABASE_NAME: suitecrm
       SUITECRM_DATABASE_PASSWORD: suitecrmpass
       SUITECRM_USERNAME: user
       SUITECRM_PASSWORD: p4ssw0rd
       SUITECRM_HOST: http//localhost:8200   # IP+puerto รณ dominio
    volumes:
      - /volume1/docker/suitecrm/data:/bitnami/suitecrm:rw
    depends_on:
      - db
    restart: unless-stopped      
    
