services:
  db:
    image: mariadb:11.4-noble
    container_name: SuiteCRM-DB
    hostname: suitecrm-db
    environment:
       ALLOW_EMPTY_PASSWORD: no
       MARIADB_USER: suitecrmuser
       MARIADB_DATABASE: suitecrm
       MARIADB_PASSWORD: suitecrmpass
       MARIADB_ROOT_PASSWORD: rootpass
    volumes:
      - /volume1/docker/suitecrm/db:/var/lib/mysql:rw
    restart: on-failure:5

  suitecrm:
    image: docker.io/bitnamilegacy/suitecrm:8
    container_name: SuiteCRM
    ports:
      - 8328:8080
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/8080' || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    environment:
       ALLOW_EMPTY_PASSWORD: no
       SUITECRM_DATABASE_HOST: db
       SUITECRM_DATABASE_PORT_NUMBER: 3306
       SUITECRM_DATABASE_USER: suitecrmuser
       SUITECRM_DATABASE_NAME: suitecrm
       SUITECRM_DATABASE_PASSWORD: suitecrmpass
       SUITECRM_USERNAME: marius
       SUITECRM_PASSWORD: mariushosting
       SUITECRM_HOST: https://suitecrm.yourname.synology.me
    volumes:
      - /volume1/docker/suitecrm/data:/bitnami/suitecrm:rw
    depends_on:
      - db
    restart: on-failure:5      
    
